html,
body {
    margin:0;
    padding:0;
    height:100%;
}


header {
    background-color: lightblue;
    padding: 10px;
}
aside {
    background-color: lightblue;
    float: left;
    position: absolute;
    height: 250%;
}


#oeffnungszeiten {
    width: 200px;
    position: relative;
    left: 20px;
    top: 5px;
}

table.essen{
    float: left;
    width: 65%;
    position: absolute;
    top: 120px;
    left: 260px;
}

div.eingabe{
    width: 50%;
    position: absolute;
    top: 1200px;
    left: 260px;
}
div.tabelle_eingabe{
    position: relative;
    float: right;
    width: 30%;
    text-align: left;
}

#button_mitte_zutat {
    float: left;

}

#vorschlag_table{
    position: absolute;
    top: 1500px;
    left: 260px;
    width: 80%;
    text-align: left;
}

#vorschlag_table_table{
    width: 100%;
}

#button_rechts_zutat {
    float: right;
}

#button_field_table{
    width: 200%;
    float: left;
}

#button_field_table2{
    width: 74%;
    float: left;
}

table.tabelle_eingabe {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    width: 480px;
    text-align: left;
    border-collapse: collapse;
    margin: 30px 30px 30px 15px;
}

div.button_eingabe{
    float: left;
    width: 30%;
}

td {
    width: 30%;
}
nav {
    float: right;
    background-color: lightblue;
    position: absolute;
    right: 0;
    height: 250%;
}

footer {
    background: lightblue;
    width: 100%;
    height:20px;
    position:fixed;
    bottom: 0;
}
div.wrapper{
    align-items: center;

}
div.beschreibung{
    float: right;
    text-align: left;
    width: 35%;
    margin: 0 auto;
}
div.polaroid {
    float:left;
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    align-self: center;
}

div.container {
    padding: 10px;
}