html,
body {
    margin:0;
    padding:0;
    height:100%;
}


header {
    background-color: lightblue;
    padding: 10px;
}
aside {
    background-color: lightblue;
    float: left;
    position: absolute;
    height: 100%;
}


#oeffnungszeiten {
    width: 200px;
    position: relative;
    left: 20px;
    top: 5px;
}
article{
    float: left;
    width: 70%;
    position: absolute;
    top: 120px;
    left: 200px;
}

nav {
    float: right;
    background-color: lightblue;
    position: absolute;
    right: 0;
    height: 100%;
}

footer {
    background: lightblue;
    width: 100%;
    height:20px;
    position:fixed;
    bottom: 0;
}


article,
section
{
    margin: 0 0.5% 24px 0.5%;
}
