html,
body {
    margin:0;
    padding:0;
    height:100%;
}

header {
    background-color: lightblue;
    padding: 10px;
}
aside {
    background-color: lightblue;
    float: left;
    padding: 0 0 0 0;
    width: 10%;
    height: 100%;
}

#wrapper {
    min-height:100%;
    position:relative;
}

article{
    float: left;
    width: 60%;
}

nav {
    float: right;
    width: 15%;
    height: 100%;
    background-color: lightblue;
}

footer {
    background: lightblue;
    clear: both;
    width: 100%;
    height:20px;
    position:absolute;
    bottom: 0;
    left:0;

}


article,
section
{
    margin: 0 0.5% 24px 0.5%;
}
