header {
    background-color: lightblue;
    border-style: none;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
aside {
    background-color: lightblue;
    border-style: none;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;

}